<!--grid-->
<div class="grid">
    <!--navabar-->
    <nav><svg viewBox="0 0 960 300">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">Expense tracker</text>
        </symbol>
    
        <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg></nav>
    <!--navbar end-->
    <!--my expense-->
    <div class="expense-title">
        <h1>MY EXPENSES</h1>
    </div>
    <div class="expense-total">
        <span class="total-text">Total &nbsp; &nbsp;</span> <span class="total-amount"> {{sum| currency:'INR'}}</span>
    </div>
    <!--my expense end-->
    <div class="divider"></div>
    <!--input-->
    <div class="input-field">
        <div class="form-group">
            <input id="input-fields" type="text" class="form-control" [(ngModel)]="card_title" placeholder="Title"><br>
            <input id="input-fields" type="number" class="form-control" [(ngModel)]="amount" placeholder="Amount"><br>
            <input id="input-fields" type="text" class="form-control" [(ngModel)]="note" placeholder="Note"><br>
            <input id="input-fields" type="date" class="form-control" [(ngModel)]="date" placeholder="Date"><br>
            <button class="custom-add-expense-button" (click)="CreateCard()" [disabled]="!card_title || !amount || !note || !date ">+ &nbsp; ADD EXPENSE</button>
        </div>
    </div>
    <!--input end-->
    <!--card-->
    <div class="expense-card">
        <div *ngFor="let item of card_data">
            <!--card display contents-->
            <div *ngIf="!item.isedit; else elseBlock">
                <div class="card-content">
                    <button class="custom-card-button" (click)="EditRecord(item)"><mat-icon>create</mat-icon><br><span>Edit</span></button>
                    <mat-card>
                        <mat-card-content>{{item.date}}</mat-card-content>
                        <mat-card-title>
                            <span class="card-title">{{item.title}}</span>
                            <span> {{item.amount | currency:'INR'}}</span>
                        </mat-card-title>
                        <mat-card-subtitle>NOTE &nbsp; {{item.note}}</mat-card-subtitle>
                    </mat-card>
                    <button class="custom-card-button" (click)="DeleteRecord(item.id)"><mat-icon>cancel</mat-icon><br><span>Remove</span></button>
                </div>
            </div>
            <!--card display contents end-->
            <!--card edit input-->
            <ng-template #elseBlock>
                <div class="card-content">
                    <button class="custom-card-button" (click)="item.isedit=false">	<mat-icon>close</mat-icon><br><span>Cancel</span></button>
                    <mat-card>
                        <div class="form-group">
                            <mat-card-content>
                                <mat-form-field appearance="outline">
                                    <mat-label>Date</mat-label>
                                    <input matInput type="date" [(ngModel)]="item.editdate" class="form-control">
                                </mat-form-field>
                            </mat-card-content>
                            <mat-card-content>
                                <mat-form-field appearance="outline">
                                    <mat-label>Title</mat-label>
                                    <input matInput type="text" [(ngModel)]="item.edittitle" class="form-control">
                                </mat-form-field>
                            </mat-card-content>
                            <mat-card-content>
                                <mat-form-field appearance="outline">
                                    <mat-label>Amount</mat-label>
                                    <input matInput type="number" [(ngModel)]="item.editamount" class="form-control">
                                </mat-form-field>
                            </mat-card-content>
                            <mat-card-content>
                                <mat-form-field appearance="outline">
                                    <mat-label>Note</mat-label>
                                    <input matInput type="text" [(ngModel)]="item.editnote" class="form-control">
                                </mat-form-field>
                            </mat-card-content>
                        </div>
                    </mat-card>
                    <button class="custom-card-button" (click)="UpdateRecord(item)"><mat-icon>refresh</mat-icon><br><span>Update</span></button>
                </div>
            </ng-template>
            <!--card edit end-->
        </div>
    </div>
    <!--card end-->
    <!--footer-->
    <footer>
        <div class="custom-footer-icons">
            <div class="copyright-text">Copyright &copy; 2020 <a href="https://github.com/kshitijkumar9630 "> Kshitij Kumar</a>.<br> All rights reserved.
            </div>

        </div>

    </footer>
    <!--footer end-->
</div>
<!--grid end-->
<router-outlet></router-outlet>