* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    background-color: #6200EA;
}

body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*css grid*/

.grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: ". . nav nav . ." ". . expense-title expense-total . ." ". . divider divider . . " ". . input-field expense-card . ." "footer footer footer footer footer";
    grid-gap: 30px;
}

nav {
    grid-area: nav;
    align-self: center;
    justify-self: center;
}

.expense-title {
    grid-area: expense-title;
    margin-top: 50px;
    color: white;
    justify-self: start;
}

.expense-total {
    grid-area: expense-total;
    margin-top: 50px;
    color: white;
    justify-self: end;
}

.divider {
    grid-area: divider;
    border: solid 1px rgba(250, 250, 250, 0.2)
}

.input-field {
    grid-area: input-field;
    align-self: top;
    justify-self: start;
}

.expense-card {
    grid-area: expense-card;
    align-self: center;
    justify-self: end;
}

footer {
    grid-area: footer;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.1);
    text-align: center;
    margin-top: 300px;
}


/* media queries*/


/* smartphones, iPhone, portrait 480x320 phones */

@media (min-width: 320px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(0, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "nav nav" "expense-title expense-total" "input-field input-field" "expense-card expense-card" "footer footer";
        grid-gap: 0px;
    }
    nav {
        grid-area: nav;
        align-self: center;
        justify-self: center;
    }
    .expense-title {
        grid-area: expense-title;
        margin-top: 50px;
        color: white;
        align-self: center;
        justify-self: center;
    }
    .expense-total {
        grid-area: expense-total;
        margin-top: 50px;
        color: white;
        align-self: center;
        justify-self: center;
    }
    .input-field {
        grid-area: input-field;
        align-self: top;
        justify-self: center;
    }
    .expense-card {
        margin-top: 50px;
        grid-area: expense-card;
        align-self: center;
        justify-self: center;
    }
    footer {
        grid-area: footer;
        width: 100%;
        background-color: rgba(250, 250, 250, 0.1);
        text-align: center;
        margin-top: 300px;
    }
}


/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media (min-width:481px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "nav nav" "expense-title expense-total" "input-field input-field" "expense-card expense-card" "footer footer";
        grid-gap: 0px;
    }
    nav {
        grid-area: nav;
        align-self: center;
        justify-self: center;
    }
    .expense-title {
        grid-area: expense-title;
        margin-top: 50px;
        color: white;
        align-self: center;
        justify-self: center;
    }
    .expense-total {
        grid-area: expense-total;
        margin-top: 50px;
        color: white;
        align-self: center;
        justify-self: center;
    }
    .input-field {
        grid-area: input-field;
        align-self: top;
        justify-self: center;
    }
    .expense-card {
        margin-top: 50px;
        grid-area: expense-card;
        align-self: center;
        justify-self: center;
    }
    footer {
        grid-area: footer;
        width: 100%;
        background-color: rgba(250, 250, 250, 0.1);
        text-align: center;
        margin-top: 300px;
    }
}


/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media (min-width:641px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "nav nav" "expense-title expense-total" "input-field input-field" "expense-card expense-card" "footer footer";
        grid-gap: 0px;
    }
    nav {
        grid-area: nav;
        align-self: center;
        justify-self: center;
    }
    .expense-title {
        grid-area: expense-title;
        margin-top: 50px;
        color: white;
        align-self: top;
        justify-self: center;
    }
    .expense-total {
        grid-area: expense-total;
        margin-top: 50px;
        color: white;
        align-self: center;
        justify-self: center;
    }
    .input-field {
        grid-area: input-field;
        align-self: top;
        justify-self: center;
    }
    .expense-card {
        margin-top: 50px;
        grid-area: expense-card;
        align-self: center;
        justify-self: center;
    }
    footer {
        grid-area: footer;
        width: 100%;
        background-color: rgba(250, 250, 250, 0.1);
        text-align: center;
        margin-top: 300px;
    }
}


/* tablet, landscape iPad, lo-res laptops ands desktops */

@media (min-width:961px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: ". . nav nav . ." ". . expense-title expense-total . ." ". . divider divider . . " ". . input-field expense-card . ." "footer footer footer footer footer footer";
        grid-gap: 30px;
    }
    nav {
        grid-area: nav;
        align-self: center;
        justify-self: center;
    }
    .expense-title {
        grid-area: expense-title;
        margin-top: 50px;
        color: white;
        justify-self: start;
    }
    .expense-total {
        grid-area: expense-total;
        margin-top: 50px;
        color: white;
        justify-self: end;
    }
    .divider {
        grid-area: divider;
        border: solid 1px rgba(250, 250, 250, 0.2)
    }
    .input-field {
        grid-area: input-field;
        align-self: top;
        justify-self: start;
    }
    .expense-card {
        grid-area: expense-card;
        align-self: center;
        justify-self: end;
    }
    footer {
        grid-area: footer;
        width: 100%;
        background-color: rgba(101, 31, 255, 1);
        margin-top: 300px;
        padding: 5px 0px 5px 0px;
    }
}


/* big landscape tablets, laptops, and desktops */

@media (min-width:1025px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: ". . nav nav . ." ". . expense-title expense-total . ." ". . divider divider . . " ". . input-field expense-card . .""footer footer footer footer footer footer";
        grid-gap: 30px;
    }
    nav {
        grid-area: nav;
        align-self: center;
        justify-self: center;
    }
    .expense-title {
        grid-area: expense-title;
        margin-top: 50px;
        color: white;
        justify-self: start;
    }
    .expense-total {
        grid-area: expense-total;
        margin-top: 50px;
        color: white;
        justify-self: end;
    }
    .divider {
        grid-area: divider;
        border: solid 1px rgba(250, 250, 250, 0.2)
    }
    .input-field {
        grid-area: input-field;
        align-self: top;
        justify-self: start;
    }
    .expense-card {
        grid-area: expense-card;
        align-self: center;
        justify-self: end;
    }
    footer {
        grid-area: footer;
        width: 100%;
        background-color: rgba(250, 250, 250, 0.1);
        text-align: center;
        margin-top: 300px;
    }
}


/* hi-res laptops and desktops */

@media (min-width:1281px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: ". . nav nav . ." ". . expense-title expense-total . ." ". . divider divider . . " ". . input-field expense-card . .""footer footer footer footer footer footer";
        grid-gap: 30px;
    }
    nav {
        grid-area: nav;
        align-self: center;
        justify-self: center;
    }
    .expense-title {
        grid-area: expense-title;
        margin-top: 50px;
        color: white;
        justify-self: start;
    }
    .expense-total {
        grid-area: expense-total;
        margin-top: 50px;
        color: white;
        justify-self: end;
    }
    .divider {
        grid-area: divider;
        border: solid 1px rgba(250, 250, 250, 0.2)
    }
    .input-field {
        grid-area: input-field;
        align-self: top;
        justify-self: start;
    }
    .expense-card {
        grid-area: expense-card;
        align-self: center;
        justify-self: end;
    }
    footer {
        grid-area: footer;
        width: 100%;
        background-color: rgba(250, 250, 250, 0.1);
        text-align: center;
        margin-top: 300px;
    }
}